@font-face {
  font-family: 'iconfont';  /* project id 2188487 */
  src: url('//at.alicdn.com/t/font_2188487_pjise5jxovd.eot');
  src: url('//at.alicdn.com/t/font_2188487_pjise5jxovd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2188487_pjise5jxovd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2188487_pjise5jxovd.woff') format('woff'),
  url('//at.alicdn.com/t/font_2188487_pjise5jxovd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2188487_pjise5jxovd.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}